@import "@cartridge/ui/themes/default.css";
@import "@cartridge/ui/themes/dark.css";
@import "@cartridge/ui/themes/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-foreground ring-foreground text-base;
  }

  a {
    @apply cursor-pointer;
  }
}
